<div class="form-control mt-20 ml-20">
  <div class="input-group">
    <input type="text" [(ngModel)]="searchTerm" (keyup)="searchProducts()" [(ngModel)]="searchInput" (input)="searchInput" placeholder="Recherche..."
      class="input input-bordered input-sm" />
    <button class="btn btn-square btn-sm">
      <i class='bx bx-search bx-sm' (click)="searchProducts()"></i>
    </button>
    <span id="adresse" class="hidden">{{adrMail$ | async}}</span>
    <p id="utilisateur" class="hidden">{{idUtil$ | async}}</p>
  </div>
</div>

<!-- AFFICHAGE PRODUITS -->
<div class="ml-14 grid grid-cols-4 space-x-3 space-y-3 m-3 rounded-md" *ngIf="produit">
  <div class="col-span-1 mt-3 ms-3 card pt-5 h-100 w-70 bg-gray-300" *ngFor="let prod of produit, let i = index">
    <figure><img class="w-3/4" src="../assets/image/nokia 6.jpg" alt="{{prod.descProd}}" /></figure>
    <div class="card-body">
      <h2 class="card-title"
        style="position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;"
        id="idProd{{i}}">{{prod.idProd}}</h2>
      <h2 class="card-title justify-center" id="nomProd{{i}}">{{prod.nomProd}}</h2>
      <div class="collapse g-inherit">
        <input type="checkbox" class="peer text-xs" />
        <div class="collapse-title collapse-plus text-xs">
          <button class="btn-link btn-xs hover:bg-blue-700 text-xs text-blue-900 font-bold py-2 px-4 rounded">
          VOIR PLUS
          </button>
        </div>
        <div class="collapse-content">
          <div class="overflow-x-auto">
            <div class="justify-center">
              <table class="text-xs border-4 w-96 z-0">
                <tr>
                  <td class="font-bold">Description:</td>
                  <td id="descProd{{i}}" class="z-0">{{prod.descProd}}</td>
                </tr>
                <tr>
                  <td class="font-bold">Categorie:</td>
                  <td id="categorieProd{{i}}" class="z-0">{{prod.categorieProd}}</td>
                </tr>
                <tr>
                  <td class="font-bold">Prix:</td>
                  <td id="prixProd{{i}}" class="z-0">{{prod.prixProd}} Ariary</td>
                </tr>
                <tr>
                  <td class="font-bold">Stock:</td>
                  <td id="stockProd{{i}}" class="z-0">
                    {{prod.stockProd}}</td>
                </tr>
                <tr>
                  <td id="imageProd{{i}}"
                    style="position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;">
                    {{prod.imageProd}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class=" justify-end" style="display: flex;">
          <button class="btn btn-sm active:btn-secondary hover:bg-sky-800 bg-sky-800 mr-2"
            (click)="affecterValeurProdComs(i); openModalComs()" style="font-size: x-small;">Commentaire </button>
          <button (click)="affecterValeurProdPan(i); openModalAjoutPanier()"
            class="btn btn-sm active:btn-secondary hover:bg-sky-800 bg-sky-800" style="font-size: x-small;">Ajouter au Panier</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- AJOUT DE PRODUIT AU PANIER -->
<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isModalAjoutPanier">
  <form method="dialog" [formGroup]="ajoutPanierForm" class="modal-box">
    <div class="modal-overlay"></div>
    <div class="modal-container ">
      <button class="modal-close btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="closeModalAjoutPanier()">✕</button>
      <div class="modal-content">
        <h3 class="font-bold text-lg text-blue-900 text-center">REMPLIR VOTRE PANIER</h3>
        <input type="text" formControlName="nomProdPan" readonly
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs" />
        <input type="text" readonly formControlName="nomUtilisateurPan"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
        <input type="text" formControlName="idProdPan" readonly
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs hidden" />
        <input type="text" formControlName="idUtilPan"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs hidden" />
        <input type="text" formControlName="stockProdPan"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs hidden" />
        <input type="number" min="1" placeholder="Quantité Produit" formControlName="qttProdPan"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
      </div>
      <div class="modal-action">
        <button (click)="ajoutPanier()" class="btn btn-xs bg-blue-900">CONFIRMER</button>
        <button class="btn btn-xs btn-error" (click)="closeModalAjoutPanier()">ANNULER</button>
      </div>
    </div>
  </form>
</div>
<!-- AJOUTES DE COMMENTAIRES -->
<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isModalComs">
  <form method="dialog" [formGroup]="ajoutComs" (submit)="ajoutCommentaire()" class="modal-box">
    <div class="modal-overlay"></div>
    <div class="modal-container ">
      <button class="modal-close btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="closeModalComs()">✕</button>
      <div class="modal-content">
        <h3 class="font-bold text-lg text-blue-900 text-center">Ecrire votre commentaire ici</h3>
        <input type="text" formControlName="nomProdComs" readonly
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs" />
        <input type="text" formControlName="idProdComs" readonly
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs hidden" />
        <input type="text" formControlName="nomUtilComs" readonly
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
        <input type="text" formControlName="idUtilComs" readonly
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs hidden" />
        <input type="text" placeholder="Contenu de la commentaire" formControlName="contenuComs"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-xs bg-blue-900">AJOUTER</button>
        <button class="btn btn-xs btn-error" (click)="closeModalComs()">ANNULER</button>
      </div>
    </div>
  </form>
</div>