<div class="m-5 mt-20">
  <h1 class="text-center mb-3  text-2xl font-serif">Listes des Commentaires réçu</h1>
  <div class="overflow-x-auto flex justify-center">
    <table class="table z-0 table-zebra table-auto">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Produit</th>
          <th>Contenu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coms of commentaire" class="hover">
          <td class="text-center align-middle">{{coms.nomUtil}} {{coms.prenomUtil}}</td>
          <td class="text-center align-middle">{{coms.nomProd}}</td>
          <td class="text-center align-middle">{{coms.contenuComs}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>