<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse Mail</th>
        <th>Mot de Passe</th>
        <th>Adresse Utilisateur</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="hover">
        <th>tady vy</th>
        <td>tady vy</td>
        <td>tady vy</td>
        <td>tady vy</td>
        <td>tady vy</td>
        <td>tady vy</td>
        <td>tady vy</td>
      </tr>
    </tbody>
  </table>
</div>