<div class="m-5 mt-20">
  <div class="overflow-x-auto flex justify-center">
    <table class="table table-zebra table-auto">
      <thead>
        <tr>
          <th></th>
          <th>Utilisateur</th>
          <th>Produit</th>
          <th>Quantité du produit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paniers of panier" class="hover">
          <th>{{paniers.idPanier}}</th>
          <td class="text-center align-middle">{{paniers.idUtil}}</td>
          <td class="text-center align-middle">{{paniers.idProd}}</td>
          <td class="text-center align-middle">{{paniers.qttPanier}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>