<!-- NAV BAR DE L' APPLICATION -->
<div class=" fixed top-0 z-10 navbar bg-blue-900 text-white">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <i class='bx bx-menu-alt-left bx-sm'></i>
      </label>
      <ul tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow  bg-base-300 text-sky-950 rounded-box w-52">
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a>Produits</a></li>
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a>Contact</a></li>
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a href="#test">A Propos</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">UNIT-COMMERCE</a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <i class='bx bx-search-alt-2 bx-sm'></i>
    </button>
    <button class="btn btn-ghost btn-circle">
      <i class='bx bxs-moon bx-sm'></i>
    </button>
    <button class="btn btn-ghost btn-circle" (click)="openModal()">
      <i class='bx bxs-plus-circle bx-flashing bx-sm'></i>
    </button>
  </div>
</div>

<!-- FORMULAIRE D' AJOUT PRODUIT -->
<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isModalOpen">
  <form method="dialog" [formGroup]="ajoutProduitForm" (submit)="ajoutProduit($event)" class="modal-box">
    <div class="modal-overlay"></div>
    <div class="modal-container ">
      <button class="modal-close btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="closeModal()">✕</button>
      <div class="modal-content">
        <h3 class="font-bold text-lg text-blue-900 text-center">AJOUTER DES NOUVELLES PRODUITS</h3>
        <input type="text" placeholder="Entrer le nom du produit" formControlName="nomProd"
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs" (input)="controlechampText($event)" />
        <input type="text" placeholder="Donner sa description" formControlName="descProd"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" (input)="controlechampText($event)" />
        <input type="text" placeholder="Catégorie" formControlName="categorieProd"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" (input)="controlechampText($event)"/>
        <input type="text" placeholder="Prix" formControlName="prixProd" (input)="controleChampChiffre($event)"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs"  />
        <input type="text" placeholder="stock" formControlName="stockProd" (input)="controleChampChiffre($event)"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs"  />
        <input type="file" formControlName="imageProd" (change)="onFileSelected($event)" accept="image/*"
          class="file-input file-input-bordered file-input-sm m-3 file-input-accent w-full max-w-xs hidden" #fileInput />
        <div  class="w-32 h-32 overflow-hidden m-3">
          <button type="button" (click)="fileInput.click()" class="btn btn-outline btn-primary btn-xs rounded">Select image</button>
          <img [src]="imagePreviewUrl" alt="" class="rounded shadow w-24 h-24 max-w-full mt-1 max-h-full object-cover">
        </div>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-xs bg-blue-900" (click)="listeProduit()">AJOUTER</button>
        <button class="btn btn-xs btn-error" (click)="closeModal()">ANNULER</button>
      </div>
    </div>
  </form>
</div>
<!--<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse Mail</th>
        <th>Mot de Passe</th>
        <th>Adresse Utilisateur</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateurs of utilisateur" class="hover">
        <th>{{ utilisateurs.idUtil }}</th>
        <td>{{utilisateurs.nomUtil}}</td>
        <td>{{utilisateurs.prenomUtil}}</td>
        <td>{{utilisateurs.adrMail}}</td>
        <td>{{utilisateurs.motPasse}}</td>
        <td>{{utilisateurs.adrUtil}}</td>
        <td>{{utilisateurs.numPhone}}</td>
      </tr>
    </tbody>
  </table>
</div>-->
<a routerLink="/panier">panier</a>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER DE L'APPLICATION -->
<footer class="footer p-10 bg-blue-900 text-white">
  <div>
    <span class="footer-title">Contact</span>
    <a class="link link-hover"><i class='bx bx-envelope bx-xm'></i>rasolonantenaim43@gmail.com</a>
    <a class="link link-hover"><i class='bx bxs-phone bx-xm'></i>+261 38 12 219 90</a>
    <a class="link link-hover"><i class='bx bx-current-location bx-xm'></i>Sonierana Fianarantsoa</a>
  </div>
  <div>
    <span class="footer-title">A Propos</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div class="items-center grid-flow-col">
    <i class='bx bxl-slack-old bx-sm'></i>
    <p>UN-IT Fianarantsoa <br />Innovez,proposez avec UN-IT, <br /> Votre partenaire numérique</p>
  </div>
  <div class="md:place-self-top md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a>
        <i class='bx bxl-youtube bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-twitter bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-facebook-square bx-sm'></i>
      </a>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>