
<!-- FORMULAIRE D' AJOUT PRODUIT -->
<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isModalOpen">
  <form method="dialog" [formGroup]="ajoutProduitForm" (submit)="getNomImage($event)" class="modal-box">
    <div class="modal-overlay"></div>
    <div class="modal-container ">
      <button class="modal-close btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="closeModal()">✕</button>
      <div class="modal-content">
        <h3 class="font-bold text-lg text-blue-900 text-center">AJOUTER DES NOUVELLES PRODUITS</h3>
        <input type="text" placeholder="Entrer le nom du produit" formControlName="nomProd"
          class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs"
          (input)="controlechampText($event)" />
        <input type="text" placeholder="Donner sa description" formControlName="descProd"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" (input)="controlechampText($event)" />
        <input type="text" placeholder="Catégorie" formControlName="categorieProd"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" (input)="controlechampText($event)" />
        <input type="text" placeholder="Prix" formControlName="prixProd" (input)="controleChampChiffre($event)"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
        <input type="text" placeholder="stock" formControlName="stockProd" (input)="controleChampChiffre($event)"
          class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
        <input type="file" formControlName="imageProd" (change)="onFileSelected($event)" accept="image/*"
          class="file-input file-input-bordered file-input-sm m-3 file-input-accent w-full max-w-xs hidden"
          #fileInput />
        <div class="w-32 h-32 overflow-hidden m-3">
          <button type="button" (click)="fileInput.click()" class="btn btn-outline btn-primary btn-xs rounded">Select
            image</button>
          <img [src]="imagePreviewUrl" alt="" class="rounded shadow w-24 h-24 max-w-full mt-1 max-h-full object-cover">
        </div>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-xs bg-blue-900" (click)="listeProduit()">AJOUTER</button>
        <button class="btn btn-xs btn-error" (click)="closeModal()">ANNULER</button>
      </div>
    </div>
  </form>
</div>


<!-- DIV CONTENU DE LA PAGE -->
<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- FOOTER DE L'APPLICATION -->
<footer class="footer w-screen p-10 bg-blue-900 text-white">
  <div>
    <span class="footer-title">Contact</span>
    <a class="link link-hover"><i class='bx bx-envelope bx-xm'></i>rasolonantenaim43@gmail.com</a>
    <a class="link link-hover"><i class='bx bxs-phone bx-xm'></i>+261 38 12 219 90</a>
    <a class="link link-hover"><i class='bx bx-map bx-xm'></i>Sonierana Fianarantsoa</a>
  </div>
  <div>
    <span class="footer-title">A Propos</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div class="items-center grid-flow-col">
    <i class='bx bxl-slack-old bx-sm'></i>
    <p>UN-IT Fianarantsoa <br />Innovez,proposez avec UN-IT, <br /> Votre partenaire numérique</p>
  </div>
  <div class="md:place-self-top md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a>
        <i class='bx bxl-youtube bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-twitter bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-facebook-square bx-sm'></i>
      </a>
    </div>
  </div>
</footer>