<div class=" fixed top-0 z-10 navbar bg-blue-900 text-white">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <i class='bx bx-menu-alt-left bx-sm'></i>
      </label>
      <ul tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow  bg-base-300 text-sky-950 rounded-box w-52">
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a>Produits</a></li>
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a>Contact</a></li>
        <li class="rounded-md active:bg-secondary hover:bg-sky-800 hover:text-white"><a href="#test">A Propos</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">UNIT-COMMERCE</a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <i class='bx bx-search-alt-2 bx-sm'></i>
    </button>
    <button class="btn btn-ghost btn-circle">
      <i class='bx bxs-moon bx-sm'></i>
    </button>
    <button class="btn btn-ghost btn-circle" (click)="openModal()">
      <i class='bx bxs-plus-circle bx-flashing bx-sm'></i>
    </button>
  </div>
</div>

<div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="isModalOpen">
    <form method="dialog" [formGroup]="ajoutProduitForm" class="modal-box" (submit)="ajoutProduit($event)">
      <div class="modal-overlay"></div>
      <div class="modal-container ">
        <button class="modal-close btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          (click)="closeModal()">✕</button>
        <div class="modal-content">
          <h3 class="font-bold text-lg justify-center">AJOUTER DES NOUVELLES PRODUITS</h3>
          <input type="text" placeholder="Entrer le nom du produit" formControlName="nomProd"
            class="input input-bordered input-success input-sm m-3 mt-5 w-full max-w-xs" />
          <input type="text" placeholder="Donner sa description" formControlName="descProd" 
            class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
          <input type="text" placeholder="Catégorie" formControlName="categorieProd" 
            class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
          <input type="text" placeholder="Image" formControlName="imageProd" 
            class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
          <input type="text" placeholder="Prix" formControlName="prixProd" 
            class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
          <input type="text" placeholder="stock" formControlName="stockProd" 
            class="input input-bordered input-success input-sm m-3 w-full max-w-xs" />
          <input type="file" accept="image/*"
            class="file-input file-input-bordered file-input-sm m-3 file-input-accent w-full max-w-xs" />
        </div>
        <button type="submit" class="btn btn-xs bg-blue-900 m-10">AJOUTER</button>
        <button class="btn btn-xs btn-error m-8" (click)="closeModal()">ANNULER</button>
      </div>
    </form>
  </div>
<div class="mt-20 grid grid-cols-4 space-x-3 space-y-3 m-3 rounded-md" *ngIf="produit">
  <div class="col-span-1 mt-3 ms-3 card pt-5 h-100 w-70 bg-gray-300" *ngFor="let prod of produit">
    <figure><img class="w-3/4" src="./assets/image/godasse.jpg" alt="car!" /></figure>
    <!--{{prod.imageProd}}-->
    <div class="card-body">
      <h2 class="card-title">{{prod.nomProd}}</h2>
      <div class="overflow-x-auto">
        <div class="float-left">
          <table class="table w-1/2 text-xs p-1 border-2">
            <tr>
              <th>Description</th>
              <td>{{prod.descProd}}</td>
            </tr>
            <tr>
              <th>Categorie</th>
              <td>{{prod.categorieProd}}</td>
            </tr>
            <tr>
              <th>Prix</th>
              <td>{{prod.prixProd}}</td>
            </tr>
            <!--<tr>
              <th>Stock</th>
              <td>{{prod.stockProd}}</td>
            </tr>-->
          </table>
        </div>
      </div>
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-sm bg-sky-800 m-3 animate-flash">Ajouter au panier</button>
    </div>
  </div>
</div>
<!--<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse Mail</th>
        <th>Mot de Passe</th>
        <th>Adresse Utilisateur</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateurs of utilisateur" class="hover">
        <th>{{ utilisateurs.idUtil }}</th>
        <td>{{utilisateurs.nomUtil}}</td>
        <td>{{utilisateurs.prenomUtil}}</td>
        <td>{{utilisateurs.adrMail}}</td>
        <td>{{utilisateurs.motPasse}}</td>
        <td>{{utilisateurs.adrUtil}}</td>
        <td>{{utilisateurs.numPhone}}</td>
      </tr>
    </tbody>
  </table>
</div>-->
<footer class="footer p-10 bg-blue-900 text-white">
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
  <div class="items-center grid-flow-col">
    <i class='bx bxl-slack-old bx-sm'></i>
    <p>UN-IT Fianarantsoa <br />Innovez,proposez avec UN-IT, <br /> Votre partenaire numérique</p>
  </div>
  <div class="md:place-self-top md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a>
        <i class='bx bxl-youtube bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-twitter bx-sm'></i>
      </a>
      <a>
        <i class='bx bxl-facebook-square bx-sm'></i>
      </a>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>