<div class="m-5 mt-20">
    <h1 class="text-center mb-3  text-2xl font-serif">Historiques des commandes</h1>
    <div class="overflow-x-auto flex justify-center">
      <table class="table z-0 table-zebra table-auto">
        <thead>
          <tr>
            <th>Utilisateur</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix Unitaire(Ariary)</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let histo of historique" class="hover">
            <td class="text-center align-middle"> {{histo.nomUtil}} {{histo.prenomUtil}}</td>
            <td class="text-center align-middle">{{histo.nomProd}}</td>
            <td class="text-center align-middle">{{histo.qttCom}}</td>
            <td class="text-center align-middle">{{histo.prixProd}}</td>
            <td class="text-center align-middle">{{histo.dateCom}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
